body {
	margin: 0;
	padding: 70px;
	font-family: 'Abel', sans-serif;
	text-align: justify;
}

header {
	width: 270px;
	float: left;
	position: fixed;
}

img {
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0 0 5px;
}

h1 {
	text-align: center;
	font-size: 28px;
}

section {
	width: 500px;
	float: right;
	padding-bottom: 50px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 5px 10px;
}

th {
	border-bottom: 1px solid #e5e5e5;
}

footer {
	width: 270px;
	float: left;
	position: fixed;
	bottom: 10px;
}

.wrapper {
	width: 860px;
	margin: 0 auto;
}

.navbar {
	margin: 0 auto;
}

.navbar-default .navbar-brand {
	color: #39c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #39c;
	background-color: white;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret-white
{
    border-top-color:white;
    border-bottom-color:white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #39c;
	background-color: white;
}

.navbar .nav > li > a {
	color: #39c;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #39c;
}

.navbar-default {
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand {
	font-size: 28px;
}

@media print, screen and (max-width: 960px) {

	div.wrapper {
		width: auto;
		margin: 0;
	}

	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}

	header {
		padding-right: 320px;
	}

	section {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px 0;
		margin: 0 0 20px;
	}
}

@media print, screen and (max-width: 720px) {
	body {
		word-wrap: break-word;
	}

	header {
		padding:0;
	}

	pre, code {
		word-wrap: normal;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		padding: 15px;
	}
}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}